<template>
    <div v-if="type !== 'hidden'" :class="topCss">
        <label for class="label" v-text="label"></label>
        <div
            :class="[
                cssClass,
                { 'required has-error': error },
                { 'has-icons-left': icon }
            ]"
        >
            <input
                ref="input"
                :name="name"
                :disabled="disableField"
                :placeholder="placeholder"
                :type="type"
                class="input"
                :class="[{ 'is-danger': error }]"
                :value="inputData"
                @input="updateValue($event.target.value)"
                required
            />
            <span class="icon is-small is-left" v-if="icon">
                <i class="fa" :class="[icon.faIcon, { faError: error }]"></i>
            </span>
        </div>
        <template v-if="error">
            <p
                class="help is-danger"
                v-if="errorMessage.email == true"
                v-text="`The ${humanReadable} is not a valid email!`"
            ></p>
            <p
                class="help is-danger"
                v-else-if="errorMessage.numeric == true"
                v-text="`The ${humanReadable} field must be numeric!`"
            ></p>
            <p
                class="help is-danger"
                v-else-if="errorMessage.minLength == true"
                v-text="
                    `The ${humanReadable} field is has a minimum character!`
                "
            ></p>
            <p
                class="help is-danger"
                v-else
                v-text="`The ${humanReadable} field is required!`"
            ></p>
        </template>
    </div>
</template>

<script lang="ts">
    import { Vue, Component, Prop } from "vue-property-decorator";

    @Component({
        name: "InputText"
    })
    export default class InputText extends Vue {
        @Prop({ type: String })
        public name!: String;
        @Prop({ type: [String, Number] })
        public inputData!: [String, Number];
        @Prop({ type: String })
        public placeholder!: String;
        @Prop({ type: String })
        public type!: String;
        @Prop({ type: [String, Number] })
        public value!: [String, Number];
        @Prop({ type: String })
        public label!: String;
        @Prop({ type: String })
        public topCss!: String;
        @Prop({ type: String })
        public cssClass!: String;
        @Prop({ type: String })
        public inputClass!: String;
        @Prop({ type: Object })
        public icon!: Object;
        @Prop({ type: Boolean })
        public error!: Boolean;
        @Prop({ type: Boolean })
        public disableField!: Boolean;
        @Prop({ type: Object })
        public errorMessage!: Object;

        updateValue(value: String) {
            // emit an input to our parent
            this.$emit("input", String(value));
        }

        // Remove any "_" from the name so the user read it.
        get humanReadable() {
            let newName = this.name;
            return newName.replace("_", " ");
        }
    }
</script>

<style lang="scss" scoped>
    .faError {
        color: red;
    }
</style>
