// Font Awesome
@import "~font-awesome/scss/font-awesome";
// Material Icon
@import "~@mdi/font";
// Bulma
@import "bulma";

html,
body {
    background-color: #e4e4e4 !important;
}

.fa {
    margin-right: 10px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.h1-bold {
    font-size: 18px;
    font-weight: 500;
    color: #3f4d55;
}

.level-right {
    margin-right: 20px !important;
}

.flatpickr-wrapper {
    width: 100% !important;
}

.label:not(:last-child) {
    margin-bottom: 0px !important;
}

.flatpickr-calendar.static.open {
    position: relative !important;
}

.modal-card-body {
    .select,
    .select select {
        width: 100% !important;
    }
}

.columns {
    margin-top: 0px !important;
}

.wrap {
    overflow-wrap: break-word !important;
    white-space: pre-wrap;
}

.normalContent {
    background: white;
}
