<template>
    <section class="login">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div
                        class="column is-5-tablet is-4-desktop is-3-widescreen"
                    >
                        <form action class="box">
                            <div class="card-content">
                                <p class="title">
                                    FastDD
                                </p>
                            </div>
<!--                            <input-text-->
<!--                                :name="'username'"-->
<!--                                :type="'text'"-->
<!--                                :inputData="$v.form.username.$model"-->
<!--                                :cssClass="'control'"-->
<!--                                :placeHolder="'Please complete username'"-->
<!--                                :label="'Username'"-->
<!--                                :icon="{ faIcon: 'fa-user' }"-->
<!--                                :error="-->
<!--                                    (returnError &&-->
<!--                                        $v.form.username.$invalid) ||-->
<!--                                    (returnError && $v.form.username.$required)-->
<!--                                        ? true-->
<!--                                        : false-->
<!--                                "-->
<!--                                :errorMessage="$v.form.username"-->
<!--                                v-model="$v.form.username.$model"-->
<!--                            >-->
<!--                            </input-text>-->

<!--                            <input-text-->
<!--                                :name="'password'"-->
<!--                                :type="'password'"-->
<!--                                :inputData="$v.form.password.$model"-->
<!--                                :cssClass="'control'"-->
<!--                                :placeHolder="'User password'"-->
<!--                                :label="'Password'"-->
<!--                                :icon="{ faIcon: 'fa-lock' }"-->
<!--                                :error="-->
<!--                                    (returnError &&-->
<!--                                        $v.form.password.$invalid) ||-->
<!--                                    (returnError && $v.form.password.$required)-->
<!--                                        ? true-->
<!--                                        : false-->
<!--                                "-->
<!--                                :errorMessage="$v.form.password"-->
<!--                                v-model="$v.form.password.$model"-->
<!--                            >-->
<!--                            </input-text>-->

<!--                            <EventButtons-->
<!--                                :buttons="buttons"-->
<!--                                :valid="$v.$invalid"-->
<!--                                @submitForm="submitForm"-->
<!--                            ></EventButtons>-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script lang="ts">
    import {Vue, Component} from "vue-property-decorator";
    @Component({
        name: "Login",
        components: {
        }
    })
    export default class Login extends Vue {

    }
</script>

<style scoped>

</style>
