<template>
    <router-view></router-view>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";

@Component({
    name: "Application",
    components: {}
})
export default class Application extends Vue {}
</script>
