<template>
    <div>
        <router-view></router-view>
    </div>
</template>

<script lang="ts">
    import { Vue, Component } from "vue-property-decorator";

    @Component({
        name: "Auth",
        components: {

        }
    })
    export default class Auth extends Vue {}
</script>
