<template>
    <router-view></router-view>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";


@Component({
    name: "Site",
    components: {
    }
})
export default class Site extends Vue {

}
</script>
