<template>
    <section class="homePage">
        <h1>Home Page</h1>
        <router-link to="about">About</router-link>
        <router-link to="auth/login">Login</router-link>
    </section>
</template>

<script lang="ts">
    import { Vue, Component } from "vue-property-decorator";

    @Component({
        name: "HomePage"
    })
    export default class Home extends Vue {
        //
    }
</script>
